
@font-face {
    font-family: 'Roboto Flex';
    
    src: url('fonts/RobotoFlex-Regular.ttf') format('truetype');

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: white;
    margin-left: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

h2 {color: white;
    font-family: 'Fjord', sans-serif;
    margin-left: 20px;
}


h3 {color: white;
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 20px;
}


p {font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

.whitetext {color: white;
}

.highlight {background-color: yellow;
    font-weight: bold;
}

header {background-color: black;
    padding: 10px;
    text-align: right;
}

.headerlist {list-style-type: square;
    display:inline-flex;
    margin-left: 40px;
    color: white;
}

.headerlist li {
    list-style-type: none;
    padding: 0 20px 0 20px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    line-height: ;
    display: inline;
    font-weight: bold;

}

img {
    margin: 20px;
}

.gallery img {
    display:block;
}

.installation {
    background-color: white;
}







